---
import { getCollection } from 'astro:content';
// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const pages = await getCollection('psychoactives');
  return pages.map(entry => ({
    params: { slug: entry.slug }, props: { entry },
  }));
}
// 2. When it's time to render, you can get the entry directly from the prop
const { entry } = Astro.props;
const { Content } = await entry.render();
import data from '../../data.json';
let value = entry.slug
const substances = await getCollection('psychoactives');
import BaseLayout from '../../layouts/BaseLayout.astro';
import EditPage from '../../components/edit_page.astro';
import Disclaimer from '../../components/disclaimer.astro';
import Psychimage from '../../components/psychimage.astro';
import Icon from "heroicons-astro/Heroicon.astro";
import { Picture } from '@astrojs/image/components';
import { combo, risk, drug_css_prefix, confidence, linkify, risk_to_bg } from '../../util';

---
<BaseLayout pageTitle={entry.data.title} metaDescription={`Psychoactives information. This is the page for harm reduction to learn about safety risks for ${entry.data.title}, ${(entry.data.family_members||[]).concat(entry.data.aka||[]).join(', ')}`}>

  <article class="prose lg:prose-xl mx-auto">
    <h2> {entry.data.title} </h2>
    <Psychimage entry={entry} />
    {entry.data.family_members &&
    <p>{entry.data.title} is not just one drug; {entry.data.title} is a group of drugs. Drugs in this group include {entry.data.family_members.join(', ')}. Drugs within the same group can have very different dosages and very different effects.</p>
  }

    {entry.data.aka && <h2>Commonly known as: </h2>
      <ul >
    {entry.data.aka.map((name) => (
      <li>
      {name}
      </li>
      ))
    }</ul>}
     <h2> Effects </h2>
     <div><Icon iconCode="chevron-up" iconStyle="outline" customClasses="h-8 w-8 stroke-green-300 inline" /> {entry.data.positive_effects}</div>
     <div><Icon iconCode="exclamation-circle" iconStyle="outline" customClasses="h-8 w-8 stroke-gray-300 inline" /> {entry.data.neutral_effects}</div>
     <div><Icon iconCode="chevron-down" iconStyle="outline" customClasses="h-8 w-8 stroke-red-300 inline" /> {entry.data.negative_effects}</div>
    <Content />
    <EditPage slug={entry.slug} type={"psychoactives"} />
  </article>


<h2 class=" mx-auto text-xl  mb-4">Combined with: </h2>
<span class="grid grid-cols-2 lg:grid-cols-3">
    <span class:list={risk_to_bg('SR')} class = "text-m font-medium m-2 px-2.5 py-0.5 rounded"> Significant Risk</span>
    <span class:list={risk_to_bg('GR')} class = "text-m font-medium m-2 px-2.5 py-0.5 rounded"> Greater Risk</span>
    <span class:list={risk_to_bg('MR')} class = "text-m font-medium m-2 px-2.5 py-0.5 rounded"> Minor Risk</span>
    <span class:list={risk_to_bg('LRS')} class = "text-m font-medium m-2 px-2.5 py-0.5 rounded"> Low Risk Synergy</span>
    <span class:list={risk_to_bg('LRD')} class = "text-m font-medium m-2 px-2.5 py-0.5 rounded"> Low Risk Decrease</span>
    <span class:list={risk_to_bg('LRNS')} class = "text-m font-medium m-2 px-2.5 py-0.5 rounded"> Low Risk No Synergy</span>
  </span>
<div class="container px-6 mx-auto">
  <span class="grid w-full gap-6 grid-cols-2 md:grid-cols-4 lg:grid-cols-5">
  {substances.map((substance) => (
  (substance.slug != value) && <a href={`${import.meta.env.BASE_URL}combos/` + linkify(combo([substance.slug,value])) + '/'} class="bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 h-auto">
      <div class="p-4 h-24">
          <h3 class=" text-2xl font-bold tracking-tight text-gray-600 rounded-lg" class:list={risk_to_bg(risk([entry.slug,substance.slug], data))} >{substance.data.title}</h3>
      </div>
      <Picture
        class="h-auto max-w-full rounded-lg align-middle leading-none shadow-lg"
        src={'../../' + substance.data.image_location}
        widths={[320]}
        aspectRatio={"4:3"}
        alt={substance.data.image_caption}
      />
    </a>

  ))}
  </span>
</div>
<Disclaimer />
</BaseLayout>
