---
import data from "@public/risks.json";
import ConfidencePanel from "@src/components/confidence_panel.astro";
import Disclaimer from "@src/components/disclaimer.astro";
import Fallback from "@src/components/fallback_combo.astro";
import EditPage from "@src/components/edit_page.astro";
import RiskPanel from "@src/components/risk_panel.astro";
import BaseLayout from "@src/layouts/BaseLayout.astro";
import { confidence, risk } from "@src/util";
import { getCollection, getEntry } from "astro:content";

export async function getStaticPaths() {
  const psychs = await getCollection("psychoactives");
  const out = [];
  for (const psych1 of psychs) {
    for (const psych2 of psychs) {
      if (psych1.slug < psych2.slug) {
        const slug = `${psych1.slug}_${psych2.slug}`;
        const entry = await getEntry("combos", slug);
        out.push({
          params: { slug: slug },
          props: { entry },
        });
      }
    }
  }
  return out;
}

const { entry } = Astro.props;
const { slug } = Astro.params;
let Content = Fallback;
let editAction = "create"
if (entry) {
  Content = (await entry.render()).Content;
  editAction = "edit"
}
let [psych1, psych2] = slug.split("_");

const psych1_info = await getEntry("psychoactives", psych1);
const psych2_info = await getEntry("psychoactives", psych2);
const title = `${psych1_info.data.title} + ${psych2_info.data.title}`;
---

<BaseLayout
  pageTitle={title}
  metaDescription={`Psychoactives information. This is the page for harm reduction to learn about safety risks for the combination of ${title}`}
>
  <article class="prose lg:prose-xl mx-auto">
    <h2>{title}</h2>
    <span class="grid w-full gap-2 sm:grid-cols-2">
      <a
        href={`${import.meta.env.BASE_URL}psychoactives/` +
          psych1_info.slug +
          "/"}
        class="bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 p-2"
      >
        <figure class="mb-1 max-w-2-xl relative">
          <img
            class="mb-4 h-auto max-w-full rounded-lg align-middle leading-none shadow-lg"
            alt={psych1_info.data.image_caption}
            {...psych1_info.data.image_location}
          />
          <figcaption
            class="text-sm absolute mb-4 bottom-0 z-90 rounded-lg bg-black/75 px-5 py-2 text-white"
          >
            {psych1_info.data.image_caption}
          </figcaption>
        </figure>
      </a>
      <a
        href={`${import.meta.env.BASE_URL}psychoactives/` +
          psych2_info.slug +
          "/"}
        class="bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 p-2"
      >
        <figure class="mb-1 max-w-2-xl relative">
          <img
            class="mb-4 h-auto max-w-full rounded-lg align-middle leading-none shadow-lg"
            alt={psych2_info.data.image_caption}
            {...psych2_info.data.image_location}
          />
          <figcaption
            class="text-sm absolute mb-4 bottom-0 z-90 rounded-lg bg-black/75 px-5 py-2 text-white"
          >
            {psych2_info.data.image_caption}
          </figcaption>
        </figure>
      </a>
    </span>
    <ConfidencePanel conf={confidence([psych1, psych2], data)} />
    <RiskPanel risk={risk([psych1, psych2], data)} />
    <Content />
    <EditPage slug={slug} type={"combos"} action={editAction} />
  </article>
  <Disclaimer />
</BaseLayout>
