---
import data from "@public/risks.json";
import ConfidencePanel from "@src/components/confidence_panel.astro";
import Disclaimer from "@src/components/disclaimer.astro";
import EditPage from "@src/components/edit_page.astro";
import RiskPanel from "@src/components/risk_panel.astro";
import BaseLayout from "@src/layouts/BaseLayout.astro";
import { confidence, risk } from "@src/util";
import { getCollection, getEntry } from "astro:content";
// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const pages = await getCollection("combos");
  return pages.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}
// 2. When it's time to render, you can get the entry directly from the prop
const { entry } = Astro.props;
const { Content } = await entry.render();
let [psych1, psych2] = entry.slug.split("_");
const psych1_info = await getEntry("psychoactives", psych1);
const psych2_info = await getEntry("psychoactives", psych2);
---

<BaseLayout
  pageTitle={entry.data.title}
  metaDescription={`Psychoactives information. This is the page for harm reduction to learn about safety risks for the combination of ${entry.data.title}`}
>
  <article class="prose lg:prose-xl mx-auto">
    <h2>{entry.data.title}</h2>
    <span class="grid w-full gap-2 sm:grid-cols-2">
      <a
        href={`${import.meta.env.BASE_URL}psychoactives/` +
          psych1_info.slug +
          "/"}
        class="bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 p-2"
      >
        <figure class="mb-1 max-w-2-xl relative">
          <img
            class="mb-4 h-auto max-w-full rounded-lg align-middle leading-none shadow-lg"
            alt={psych1_info.data.image_caption}
            {...psych1_info.data.image_location}
          />
          <figcaption
            class="text-sm absolute mb-4 bottom-0 z-90 rounded-lg bg-black/75 px-5 py-2 text-white"
          >
            {psych1_info.data.image_caption}
          </figcaption>
        </figure>
      </a>
      <a
        href={`${import.meta.env.BASE_URL}psychoactives/` +
          psych2_info.slug +
          "/"}
        class="bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 p-2"
      >
        <figure class="mb-1 max-w-2-xl relative">
          <img
            class="mb-4 h-auto max-w-full rounded-lg align-middle leading-none shadow-lg"
            alt={psych2_info.data.image_caption}
            {...psych2_info.data.image_location}
          />
          <figcaption
            class="text-sm absolute mb-4 bottom-0 z-90 rounded-lg bg-black/75 px-5 py-2 text-white"
          >
            {psych2_info.data.image_caption}
          </figcaption>
        </figure>
      </a>
    </span>
    <ConfidencePanel conf={confidence([psych1, psych2], data)} />
    <RiskPanel risk={risk([psych1, psych2], data)} />
    <Content />
    <EditPage slug={entry.slug} type={"combos"} />
  </article>
  <Disclaimer />
</BaseLayout>
