---
import { getCollection, getEntry } from 'astro:content';
// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const pages = await getCollection('combos');
  return pages.map(entry => ({
    params: { slug: entry.slug }, props: { entry },
  }));
}
// 2. When it's time to render, you can get the entry directly from the prop
const { entry } = Astro.props;
const { Content } = await entry.render();
import data from '../../data.json';
let value = entry.slug

import Grid from '../../components/grid.astro';
import BaseLayout from '../../layouts/BaseLayout.astro';
let visible = false
if (entry.data.display_grid){
  visible = true
}
import Psychimage from '../../components/psychimage.astro';
import Disclaimer from '../../components/disclaimer.astro';
import ConfidencePanel from '../../components/confidence_panel.astro';
import EditPage from '../../components/edit_page.astro';
import RiskPanel from '../../components/risk_panel.astro';
import PsychLink from '../../components/psychlink.astro';
let [psych1, psych2] = entry.slug.split('_')
const psych1_info = await getEntry('psychoactives', psych1);
const psych2_info = await getEntry('psychoactives', psych2);
import { risk, confidence } from '../../util';

---
<BaseLayout pageTitle={entry.data.title} metaDescription={`Psychoactives information. This is the page for harm reduction to learn about safety risks for the combination of ${entry.data.title}`}>
  <article class="prose lg:prose-xl mx-auto">
    <h2> {entry.data.title} </h2>
    <span class="grid w-full gap-2 sm:grid-cols-2">
      <Psychimage entry={psych1_info} />
      <Psychimage entry={psych2_info} />
    </span>
    <ConfidencePanel conf={confidence([psych1, psych2], data)}/>
    <RiskPanel risk={risk([psych1, psych2], data)}/>
    <Content />
    <PsychLink psych={psych1} />
    <PsychLink psych={psych2} />
    <EditPage slug={entry.slug} type={"combos"} />
  </article>
<Disclaimer />
{visible && <Grid page={entry.slug} data={data} />}
</BaseLayout>
