---

const { page, data } = Astro.props;
let drugs = data["drugs"].filter(item => item !== page)
drugs = drugs.slice(0, 12)
import { combo, risk,slugify } from '../util';
import '../style.css';
import Druglink from './druglink.astro';
---
<script>
window.onload = (event) => {
  const checkboxes = document.querySelectorAll('.filter_check');
  checkboxes.forEach((box) => {
    box.addEventListener('click', (event) => {
      if (box.checked){
        for (const item of document.querySelectorAll("." + box.id)) {
          item.style.display = '';
        }
      } else {
        for (const item of document.querySelectorAll("." + box.id)) {
          item.style.display = 'none';
        }
      }

    });
  });
};
</script>

<div>
  {drugs.map((drug) => (
    <input type="checkbox" class="filter_check" id={slugify(drug)} name={slugify(drug)} value={slugify(drug)} checked>
    <label for={slugify(drug)}> Display {drug}</label><br>
  ))}
</div>
<table>
  <tr class:list={"topkey"}>
    <td></td>
    {drugs.map((drug) => (
      <td class:list={slugify(drug)}>{drug}</td>
    ))
  }
  </tr>
    {drugs.map((drugrow) => (
      <tr class:list={slugify(drugrow)}>
        <td class:list={slugify(drugrow)}>{drugrow}</td>
        {drugs.map((drugcell) => (
          <td class:list={[risk([page,drugrow,drugcell], data),slugify(drugrow),slugify(drugcell)]}><Druglink slug={combo([page,drugrow,drugcell])} /></td>
         ))}
      </tr>
     ))}

</table>
