---
import { getCollection } from 'astro:content';
// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const pages = await getCollection('substances');
  return pages.map(entry => ({
    params: { slug: entry.slug }, props: { entry },
  }));
}
// 2. When it's time to render, you can get the entry directly from the prop
const { entry } = Astro.props;
const { Content } = await entry.render();
import data from '../../data.json';
let value = entry.data.slug

import Grid from '../../components/grid.astro';
import Risk from '../../components/risk.astro';
import Confidence from '../../components/confidence.astro';
let visible = true
if (entry.data.slug.includes('-')){
  visible = false
}
---
<h1>{entry.data.title}</h1>
<Risk page={entry.data.slug} data={data} />
<Confidence confidence={entry.data.confidence} />
<Content />

{visible && <Grid page={entry.data.slug} data={data} />}


